body{
background:#0f172a;
color:white;
font-family:Cairo;
margin:0;
}

.container{
width:90%;
max-width:400px;
margin:auto;
margin-top:50px;
}

input{
width:100%;
padding:12px;
margin:6px 0;
border-radius:8px;
border:none;
}

button{
width:100%;
padding:12px;
background:#2563eb;
border:none;
color:white;
border-radius:8px;
cursor:pointer;
}

.card{
background:#1e293b;
padding:20px;
border-radius:12px;
margin-top:15px;
}

.balance{
font-size:22px;
color:#22c55e;
}
